

/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body background and text color */
body {
    background-color: #f3f3f3;
    color: #333;
    font-family: Arial, sans-serif;
}

/* Header Styles */
.header {
    background-color: #0074a9; /* Header background color */
    color: #fff; /* Text color in the header */
    padding: 10px 0; /* Padding for the header content */
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 0 20px; /* Spacing between navigation items */
}

.nav-item a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px; /* Font size for navigation links */
}

/* Hover effect for navigation links */
.nav-item a:hover {
    text-decoration: underline; /* Underline on hover */
}

/* Container Styles */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Form Section Styles */
.container section {
    margin-bottom: 20px;
}

/* Form Input Styles */
form input[type="text"],
form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Button Styles */
button {
    background-color: #0074a9; /* Button background color */
    color: #fff; /* Button text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc; /* Disabled button background color */
    cursor: not-allowed;
}

/* Select Styles */
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
